.App {
  text-align: center;
  background-color: #ceddf5;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

 .rbc-btn-group button {
  background-color: #61b3fb!important;
  color:white !important; /* Default background color */
}

.rbc-btn-group button.rbc-active {
  background-color: white!important;
  color:#61b3fb!important; /* Background color when button is active */
}

.App-link {
  color: #61dafb;
}

.logo{
  width: 100px;
  height: 40px;
  margin-right: -20px;
}
Nav.Link{
  margin-left: 10px;
}

.user-nav {
  margin-left: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }


}
